@import 'tailwindcss';
@import '@pk-design/react-tailwind/react-tailwind.css';

@source "../node_modules/react-tailwind/dist";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-tiny: 0.625rem;
  --shadow-t-md: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-t-sm: 0 -1px 3px 0 rgb(0 0 0 / 0.05), 0 -1px 2px -1px rgb(0 0 0 / 0.05);
}
